<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProject.My.MySettings.ConnectionString" connectionString="Data Source=xe;Persist Security Info=True;User ID=DBSumberJaya;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="FinalProject.My.MySettings.ConnectionString1" connectionString="Data Source=xe;Persist Security Info=True;User ID=system;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="FinalProject.My.MySettings.ConnectionString2" connectionString="Data Source=xe;Persist Security Info=True;User ID=DBTokoSJ;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>